:root {
  --main-text-color: #606060;
  --title-color: red;
}
* {
	margin: 0;
	padding: 0;
	outline: 0;
}
*:focus {
	outline: 0;
}
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	overflow: hidden;
}

h1, h2, h3 {
	color: var(--title-color);
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

ul, li {
	list-style: none;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}
h1, h2, h3 {
	margin-bottom: 1rem;
}

#wrapper {
	height: 100%;
}
header {
	height: 80px;
}
#main-content {
	align-items: center;
	display: flex;
	height: calc(100vh - 80px);
}
@media only screen and (max-width: 767px) {
	#wrapper {
		height: auto;
		min-height: auto;
	}

}